@*15.1*@
@using CodingEventsMVC.Models

@model List<Event>
@*13.6.3.5*@

<h1>Coding Events</h1>

@*13.6.7*@
<p>
    <a asp-controller="Events" asp-action="Add">Add Events</a>
</p>

@*14.3.5*@
<p>
    <a asp-controller="Events" asp-action="Delete">Delete Events</a>
</p>

@*From the video, not in the text instructions*@
@*Model section for 15.1*@
@if (Model.Count == 0)
{
    <p>No events yet.</p>
}
else
{
    @*13.10 Exercises*@
    <table>
        <tr>
            <th>
                Id
            </th>

            <th>
                Name
            </th>

            <th>
                Description
            </th>

            <th>
                Contact Email
            </th>

            <th>
                Event Type
            </th>
        </tr>
        @*14.2*@
        @foreach (var evt in Model)
        {
            <tr>
                <td>@evt.Id</td>
                <td>@evt.Name</td>
                <td>@evt.Description </td>
                <td>@evt.ContactEmail</td>
                <td>@evt.Category.Name</td>
            </tr>
        }
    </table>
}